.container {
  /* max-width: 1280px; */
  max-width: 1536px;
  margin: 0 auto;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

bg_before::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(152, 66, 211, 0.63);
}
